<h1>Editing word</h1>
<article>
  <%= render 'form' %>
</article>
<footer class="cf">
  <div class="r">
    <%= link_to 'Show', @word %> |
    <%= link_to 'Destroy', @word, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="l">
    <%= link_to 'Back', words_path %>
  </div>
</footer>
